@import '../../variables.less';

.ls-ui-kit {
  .modal-header {
    color: @primary-color;
  }

  .modal-body {
    min-height: 112px;
  }

  .modal-controls {
    margin-top: @padding-md;
  }

  .anticon {
    margin-right: @padding-xs;
  }

  &.popup-modal {
    .modal-header, .modal-body {
      text-align: center;
    }
  }
}
