@import '../../variables.less';
@import '../MediaButton/style.less';

.ls-ui-kit.media-button-group.scaling {
  .media-button {
    margin: 24px;

    .uikit-text {
      margin-bottom: 0;
    }

    .uikit-icon .uikit-media-wrapper .anticon {
      font-size: 4em;
    }

    @media screen and (min-width: @screen-sm) {
      margin: 40px;
    }

    @media screen and (min-width: @screen-md) {
      margin: 64px;

      .uikit-icon .uikit-media-wrapper .anticon {
        font-size: 5em;
      }
    }
  }

  &.tripples .media-button {
    @media screen and (min-width: @screen-md) {
      margin: 48px;

      .uikit-icon .uikit-media-wrapper .anticon {
        font-size: 4rem;
      }
    }
  }
}

.ls-ui-kit.media-button-group.small {

  .media-button {
    .sized-media-button(@padding-sm, 3em);

    margin: @padding-sm / 2;
  }
}

.ls-ui-kit.media-button-group.medium {
  .media-button {
    .sized-media-button(@padding-md, 4em);

    margin: @padding-md / 2;
  }
}

.ls-ui-kit.media-button-group.large {

  .media-button {
    .sized-media-button(@padding-lg, 5em);

    margin: @padding-lg / 2;
  }
}
