@import '../../variables.less';

.ant-card.ls-ui-kit {  

  width: 100%;
  border: none;
  box-shadow: none;

  .ant-card-body {
    padding: @ls-card-body-padding;
  }

  .ant-card-meta-title {
    font-family: @ls-card-font-family;
    font-size: @ls-card-font-size;
    text-align: center;
    color: @ls-card-text-color;
  }

  .ant-card-cover {
    border: @ls-card-border;
    box-shadow: @ls-card-shadow;

    img {
      border-radius: @ls-card-radius;
    }

    .animation {
      animation-name: ls-card-bounce-animation;
      animation-duration: @ls-card-animation-time;
      animation-timing-function: ease-in;
    }
  }
}

.ant-card.ls-ui-kit {
  /* Block */

  .ant-card-cover {

    .icon-card-wrapper {
      /* overflow: hidden; */
      position: relative;
      width: 100%;
      padding-bottom: 100%;

      .icon-card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .animation {
      animation-name: ls-card-bounce-animation;
      animation-duration: @ls-card-animation-time;
    }
  }
}

@keyframes ls-card-bounce-animation {
  from {
    transform: scale(1);
  }

  33% {
    transform: scale(1.05);
  }

  67% {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}