@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.title {
  margin: 25px;
}

.tooltip {
  margin: 5px;
}

h1.title {
  font-size: 34px;
  color: #444;
}

h2.title {
  font-size: 26px;
  color: #555;
}

h3.title {
  font-size: 22px;
  color: #666;
}

p.text {
  margin: 20px;
  font-size: 16px;
  color: #666;
}

p.text .allotted {
  padding: 3px;
  margin-left: 4px;
  line-height: 30px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

li {
  font-size: 16px;
}

section.example {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.ex-title {
  font-size: 24px;
  color: #666;
}

.ex-toggle {
  color: #999;
  cursor: pointer;
}

.ex-toggle:hover {
  text-decoration: underline;
}

/* ================================== */
.modal-container-popup-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.modal-title-popup-mobile {
  margin-top: 48px;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 25px;
  color: #006699;
}

.modal-text-popup-mobile {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
  margin-bottom: 59px;
}

.modal-button-popup-mobile {
  width: 256px;
}

/* ================================== */
.modal-container-alert-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.modal-title-alert-mobile {
  padding-left: 5px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 25px;
  color: #006699;
}

.modal-text-alert-mobile {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
  margin-bottom: 107px;
}

.modal-button-alert-mobile {
  width: 256px;
}

.anticon {
  font-size: 25px;
  color: black;
}

.modal-icon-ontainer-alert-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* ================================== */
.modal-container-twoalert-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.modal-title-twoalert-mobile {
  padding-left: 5px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 25px;
  color: #006699;
}

.modal-text-twoalert-mobile {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
  margin-bottom: 16px;
}

.modal-button-twoalert-mobile {
  width: 100px;
  margin: 12px;
}

.modal-btncontainer-twoalert-mobile {
  justify-content: center;
  align-items: center;
}

.modal-icon-ontainer-twoalert-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* ================================== */
.global-search-wrapper {
  width: 300px;
}
.global-search-wrapper .ant-input-suffix {
  right: 0 !important;
}

/* =================================== */
.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20{
  margin-bottom: 20px !important;
}

.fw {
  width: 100% !important;
}