@import "~antd/lib/style/themes/default.less";

// We define white as a variable so that a theme which wants to invert light and dark colours can make all white sections dark.
@white: 'white';

/*===================================================
**       Data Display
====================================================*/
// Card
@ls-card-radius: 50%;
@ls-card-text-color: #666;
@ls-card-border: none;
@ls-card-shadow: none;
@ls-card-animation-time: 700ms;
@ls-card-body-padding: @padding-sm;
@ls-card-font-size: @font-size-base;
@ls-card-font-family: @font-family;

// Media Button
@ls-media-button-circle-radius: 50%;
@ls-media-button-shadow: -1px -1px 4px 1px rgba(51,51,51,0.8);
@ls-media-button-icon-font-size: 3rem;
/*===================================================*/



/*===================================================
**       Data Entry
====================================================*/
// Slider
@ls-slider-handle-size: 28px;

// Rate
@ls-mobile-rate-font-size: 40px;

/*==================================================*/


/*===================================================
**       General
====================================================*/
// Button
@ls-stretch-button-width: 100%;
@ls-stretch-button-font-family: @font-family;
@ls-stretch-button-font-size: @font-size-base;
@ls-stretch-button-radius-default: @btn-border-radius-base;
@ls-stretch-button-shadow: 0 2px 4px rgba(0, 0, 0, .3);
@ls-stretch-button-rounded: @ls-stretch-button-font-size;

/*==================================================*/