@import '../../variables.less';

.ant-slider.ls-ui-kit.mobile .ant-slider-handle {
    width: @ls-slider-mobile-handle-size;
    height: @ls-slider-mobile-handle-size;
    margin-top: -(@ls-slider-mobile-handle-size / 2);
}
