@import '../../variables.less';

.ant-btn.ls-default {

  width: @ls-button-width;
  font-family: @ls-button-font-family;
  font-size: @ls-button-font-size;
  border-radius: @ls-button-radius;
}

.ant-btn.ls-box {
  @ls-button-radius: 0;

  width: @ls-button-width;
  font-family: @ls-button-font-family;
  font-size: @ls-button-font-size;
  border-radius: @ls-button-radius;
}

.ant-btn.ls-rounded {
  @ls-button-radius: 16px;

  width: @ls-button-width;
  font-family: @ls-button-font-family;
  font-size: @ls-button-font-size;
  border-radius: @ls-button-radius;
}

.ant-btn.ls-radius {
  @ls-button-radius: 8px;

  width: @ls-button-width;
  font-family: @ls-button-font-family;
  font-size: @ls-button-font-size;
  border-radius: @ls-button-radius;
}

.ant-btn.ls-shadow {
  @ls-button-shadow: 0 2px 4px rgba(0, 0, 0, .3);

  width: @ls-button-width;
  font-family: @ls-button-font-family;
  font-size: @ls-button-font-size;
  border-radius: @ls-button-radius;
  box-shadow: @ls-button-shadow;
}

.ant-btn.ls-ghost {
  width: @ls-button-width;
  font-family: @ls-button-font-family;
  font-size: @ls-button-font-size;
  border-radius: @ls-button-radius;
}